<?xml version="1.0" encoding="utf-8"?>
<Element Key="daa2bf18-dd42-432b-a2f5-f93418326571" Alias="ElementExample1" Level="2">
  <Info>
    <Parent Key="c77e4648-cea9-4988-af8c-a18a789209d6">Test</Parent>
    <Path>/Test/ElementExample1</Path>
    <Trashed>false</Trashed>
    <ContentType>elementType1</ContentType>
    <CreateDate>2026-06-16T09:57:39</CreateDate>
    <NodeName Default="ElementExample1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <test>
      <Value><![CDATA[ElementExample1]]></Value>
    </test>
  </Properties>
</Element>