<?xml version="1.0" encoding="utf-8"?>
<Element Key="950a8389-5f00-446a-bc31-07b7f9daa402" Alias="ElementExample2" Level="3">
  <Info>
    <Parent Key="b8253b3c-038b-4763-a902-33728ac37d02">Subfolder</Parent>
    <Path>/Test/Subfolder/ElementExample2</Path>
    <Trashed>false</Trashed>
    <ContentType>elementType2</ContentType>
    <CreateDate>2026-06-16T09:57:47</CreateDate>
    <NodeName Default="ElementExample2" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <test2>
      <Value><![CDATA[ElementExample2]]></Value>
    </test2>
  </Properties>
</Element>