<?xml version="1.0" encoding="utf-8"?>
<Content Key="1479fdeb-09a9-4e1e-b7a5-f14bc530a69e" Alias="Example11" Level="3">
  <Info>
    <Parent Key="86260cc2-f41f-4d28-a223-9a77047a9bc2">Example1</Parent>
    <Path>/ExampleRoot/Example1/Example11</Path>
    <Trashed>false</Trashed>
    <ContentType>example</ContentType>
    <CreateDate>2026-04-20T21:12:29</CreateDate>
    <NodeName Default="Example11" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>