<?xml version="1.0" encoding="utf-8"?>
<Content Key="0f1c76fd-9898-453e-9d43-2d8deebef726" Alias="Example root" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ExampleRoot</Path>
    <Trashed>false</Trashed>
    <ContentType>example</ContentType>
    <CreateDate>2026-04-04T19:34:40</CreateDate>
    <NodeName Default="Example root" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>