<?xml version="1.0" encoding="utf-8"?>
<Content Key="86260cc2-f41f-4d28-a223-9a77047a9bc2" Alias="Example1" Level="2">
  <Info>
    <Parent Key="0f1c76fd-9898-453e-9d43-2d8deebef726">Example root</Parent>
    <Path>/ExampleRoot/Example1</Path>
    <Trashed>false</Trashed>
    <ContentType>example</ContentType>
    <CreateDate>2026-04-04T19:34:51</CreateDate>
    <NodeName Default="Example1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>